# VARIABLE ASSIGNMENTS

In [57]:
#We use the assignment operator (=) to assign values to a variable

a = 10
b = 5.5
c = "ML"

# MULTIPLE ASSIGNMENTS

In [58]:
a, b, c = 10, 5.5, "ML"
a = b = c = "AI" #assign the same value to multiple variables at once

# STORAGE LOCATIONS

In [59]:
x = 3

print(id(x))               #print address of variable x

1667591296

In [60]:
y = 3

print(id(y))               #print address of variable y

1667591296

In [61]:
y = 2
print(id(y))               #print address of variable y

1667591264

# DATATYPES

In [62]:
a = 5                               #data type is implicitly set to integer
print(a, " is of type", type(a))

5  is of type <class 'int'>

In [63]:
a = 2.5                            #data type is changed to float
print(a, " is of type", type(a))

2.5  is of type <class 'float'>

In [64]:
a = 1 + 2j                          #data type is changed to complex number
print(a, " is complex number?") 
print(isinstance(1+2j, complex))

(1+2j)  is complex number?
True

# BOOLEAN

In [65]:
a = True                          #a is a boolean type
print(type(a))

<class 'bool'>

# PYTHON STRINGS

In [66]:
s = "This is Online AI course"
print(s)

This is Online AI course

In [67]:
print(s[0])
#last char s[len(s)-1] or s[-1]

T

In [68]:
#slicing
s[5:]

'is Online AI course'

# PYTHON LISTS

In [69]:
a = [10, 20.5, "Hello"]
print(a[1])               #print 1st index element

20.5

In [70]:
a[1] = 30.7
print(a)

[10, 30.7, 'Hello']

In [71]:
#PYTHON TUPLE

In [72]:
t = (1, 1.5, "ML")

In [73]:
print(t[1]) #extract particular element

1.5

In [74]:
t[1] = 1.25

TypeError: 'tuple' object does not support item assignment

# PYTHON SET

In [75]:
a = {10, 30, 20, 40, 5}
print(a)

{5, 40, 10, 20, 30}

In [76]:
print(type(a))             #print type of a

<class 'set'>

In [77]:
s = {10, 20, 20, 30, 30, 30}
print(s)                    #automatically set won't consider duplicate elements

{10, 20, 30}

In [78]:
print(s[1]) #we can't print particular element in set because 
            #it's unorder collections of items

TypeError: 'set' object does not support indexing

# PYTHON DICTIONARY

In [79]:
d = {'a': "apple", 'b': "bat"}
print(d['a'])

apple

# Conversion between Datatypes

In [80]:
float(5)     #convert interger to float using float() method

5.0

In [81]:
int(100.5)   #convert float to integer using int() method

100

In [82]:
str(20)      #convert integer to string

'20'

In [83]:
int('10p')

ValueError: invalid literal for int() with base 10: '10p'

In [84]:
user = "satish"
lines = 100

print("Congratulations, " + user + "! You just wrote " + str(lines) + " lines of code" )
#remove str and gives error

Congratulations, satish! You just wrote 100 lines of code

In [85]:
a = [1, 2, 3]

print(type(a))      #type of a is list 

s = set(a)          #convert list to set using set() method

print(type(s))      #now type of s is set

<class 'list'>
<class 'set'>

In [86]:
list("Hello")       #convert String to list using list() method

['H', 'e', 'l', 'l', 'o']